version: "3.8"
networks:
    mapstore-network:
        driver: bridge

services:
    minio: # S3 Bucket for uploads and downloads
        image: quay.io/minio/minio:latest
        command: server /data --console-address ":9001"
        environment:
            MINIO_ROOT_USER: minioadmin
            MINIO_ROOT_PASSWORD: minioadmin
        volumes:
            - minio_data:/data
        ports:
            - "9000:9000" # MinIO API port
            - "9001:9001" # MinIO Console port
        networks:
            - mapstore-network

    postgres: # Database
        image: postgis/postgis:16-3.4 # Use a specific version, e.g., PostGIS 3.4 on PostgreSQL 16
        restart: unless-stopped
        healthcheck:
            test: /usr/bin/pg_isready -U postgres
            interval: 5s
            timeout: 10s
            retries: 120
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: geostore
        volumes:
            - pg_data:${PGDATA:-/var/lib/postgresql/data}:rw
        ports:
            - 5432
        networks:
            - mapstore-network

    mapstore: # Customizable web mapping component (dashboard, custom maps)
        # http://localhost:8080/mapstore/
        # user admin pass admin
        image: geosolutionsit/mapstore2
        container_name: mapstore
        command: [ "wait-for-postgres", "postgres", "5432", "postgres", "postgres", "catalina.sh", "run" ]
        depends_on:
            - postgres
        ports:
            - 8080:8080
        networks:
            - mapstore-network

    proxy: #Reverse proxy
        image: nginx
        container_name: proxy
        volumes:
            - ./docker/mapstore.conf:/etc/nginx/conf.d/default.conf:rw
        ports:
            - 80:80
        depends_on:
            - mapstore
        networks:
            - mapstore-network



volumes:
  minio_data:
  pg_data:

